PORT=2324
NODE_ENV=production
JWT_SECRET=ppt_template_manager_secret_key

# Configuration PostgreSQL locale
DATABASE_URL=postgresql://{{ ansible_user }}:{{ ansible_ssh_password }}@localhost:5432/ppt_template_manager

# Utiliser ces variables si vous préférez la configuration sans URL complète
DB_HOST=localhost
DB_USER={{ ansible_user }}
DB_PASSWORD={{ ansible_ssh_password }}
DB_NAME=ppt_template_manager
DB_PORT=5432

# Configuration Supabase (si nécessaire)
SUPABASE_URL=http://localhost:8000
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q

CONVERT_API_SECRET=secret_KpZ4EmWSJCFOLYyX
